.header {
  width: 100%;
  height: 70px;
  background-color: var(--Header_color);
  color: var(--Header_text);
  display: flex;
  box-shadow: 5px 5px 10px ;
}
.icon{
  width: 60px;
  margin-top: 5px;
  margin-left: 70px;
  height: 60px;
  background-size: contain;
  background-image: var(--Header_img);
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border: 0;
}
.for_header{
  display: flex;
  color: var(--Header_text);
  margin-top: 10px;
  margin-left: 100px;
}
body{
  width: 100%;
  height: 2000px;
  background-color: var(--background_color);
    margin: 0;
}
.carusel{
  margin: 70px;
  display: flex;
}
.for-black-tesla{
  color: black;
}
.container{
  background-image: url("/static/img/tesla-inside.jpg");
  display: flex;
  float: left;
  height: 500px;
  width: 750px;
  margin-top: 70px;
  margin-left: 90px;
  background-size: contain;
}
.text_about{
  color: var(--Text_to_story);
  margin-top: 10%;
  margin-right: 10%;
  height: 400px;
  width: 350px;
  flex-direction: column;
  display: flex;
  float: right;
}
.to-p{
  text-align: center;
  font-size: 24px;
}
#to-p2{
  font-size: 26px;
  color: #dc3545;
}
.text_about_salon{
  color: var(--Text_to_salon);
  margin-top: 10%;
  margin-left: 10%;
  height: 400px;
  width: 300px;
  float: left;
  flex-direction: column;
  display: flex;
}
#to-p3{
  color: #dc3545;
  font-size: 26px;
}
.tesla_footer{
  display: flex;
  height: 420px;
  width: 100%;
  background-color: var(--Footer_color);
  box-shadow: 5px 5px 10px ;
}
.to_footer {
  color: var(--Footer_text);
  margin-left: 10px;
  margin-top: var(--to_footerTXT);
  display: flex;
  float: bottom;
}
.tesla_img1{
  background-image: var(--Footer_img);
  height: var(--Footer_hight);
  width: var(--Footer_width);
  background-size: contain;
  display: flex;
  margin-top: 30px;
  background-color: transparent;
}
.t_video{
  margin: 100px;
  width: 1000px;
  height: 700px;
}

:root{
  --background_color: #23272b;
  --Header_color: black;
  --Header_text: white;
  --Text_to_story: white;
  --Text_to_salon: white;
  --Header_img: url('/static/img/tesal_icon.png');
  --Footer_img: url("/static/img/to_footer1.jfif");
  --Footer_hight: 280px;
  --Footer_width: 380px;
  --Footer_color: black;
  --Footer_text: white;
  --to_footerTXT: 50px;
  --for_login: black;
  --for_txt_login: white;
  --for_button3: black;
}
:root[data-theme='light']{
  --background_color: whitesmoke;
  --Header_color: silver;
  --Header_text: red;
  --Text_to_story: black;
  --Text_to_salon: black;
  --Header_img: url('/static/img/tesla-logo2.png');
  --Footer_img: url("/static/img/to_footer21.png");
  --Footer_hight: 200px;
  --Footer_width: 390px;
  --Footer_color: silver;
  --Footer_text: black;
  --to_footerTXT: 120px;
  --for_login: silver;
  --for_txt_login: red;
  --for_button3: silver;
}

.for_login{
  display: flex;
  color: var(--for_txt_login);
  margin-left: 85%;
  margin-top: 10px;
  position: absolute;
  background-color: var(--for_login);
  border: 0;
}
.for_button{
  background-color: var(--for_login);
  border: 0;
  color: var(--for_txt_login);
  margin-left: 5px;
}
.for_user {
  position: absolute;
  margin-left: 90%;
  margin-top: 30px;
}


.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.for_button3{
    background-color: var(--for_button3);
    border: 0;
    color: white;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 100;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.color_input{
    color: white;
}

.avatar{
    width: 40px;
    height: 40px;
    background-size: contain;
    display: flex;
    position: absolute;
    margin-left: 100px;
}

.my_cart{
    animation: none;
    display: block;
    color: white;
}

.avatar2 {
    position: center;
}

.my_conteiner{
    width: 150px;
    height: 100px;
    margin: 10px;
}

.complekt_body{
    width: 450px;
    height: 250px;
    display: flex;
}

.tesla_footer{
  display: flex;
  height: 420px;
  width: 100%;
  background-color: var(--Footer_color);
  box-shadow: 5px 5px 10px ;
    margin-top: 100%;
}
.to_footer {
  color: var(--Footer_text);
  margin-left: 10px;
  margin-top: var(--to_footerTXT);
  display: flex;
  float: bottom;
}

.tesla_img1{
  background-image: var(--Footer_img);
  height: var(--Footer_hight);
  width: var(--Footer_width);
  background-size: contain;
  display: flex;
  margin-top: 30px;
  background-color: transparent;
}
