<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/login1.css" rel="stylesheet">
</head>
<body>
<section class="login">
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="text" name="username" placeholder="Логин">
        </label>
        <label>
            <input type="password" name="password" placeholder="Пароль">
        </label>
        {{ form.as_p }}
        <button type="submit">Войти</button>
        {{ user }}

    </form>
        {% if user.is_authenticated %}
            <a class="btn btn-primary for_gog for_gog" content="" href="{% url 'logout' %}"></a>
        {% else %}
            <a class="d-block for_gog" href="{% url 'social:begin' 'google-oauth2' %}"></a>
        {% endif %}
</section>

</body>
</html>