<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/to_telsla_model_x.css" rel="stylesheet">
</head>
<body>
<header class="header">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'index' %}">Tesla model S</a>
            <a href='{% url 'Model_X' %}'>Tesla model X</a>
            <a href="#">Tesla model 3</a>
            <a href="#">Tesla model Y</a>
            <a href="#">Tesla cyber-track</a>
            <a href="#">Tesla Roadster</a>
            <a href="{% url 'bay' %}">Bay something</a>
        </div>
        <div id="main" onclick="openNav()">
            <button class="for_button3">☰</button>
        </div>
        <button class="icon"></button>
        <h2 class="for_header">Tesla model S</h2>
          <div class="for_login">
            <div class=" nav-item col-8 text-end">
                {% if user.is_authenticated %}
                    <span class="text">
                  {{ user.get_username }} | <a href="/logout" class="color_input text-decoration-none">Выйти</a>
                    </span>
                {% else %}
                    <span class="text text-decoration-none">
                    <a href="/register" class="text-decoration-none color_input">Регистрация</a> | <a href="/login" class="text-decoration-none color_input">Войти</a>
                    </span>
                {% endif %}
            </div>
        </div>
    </header>
<div id="carouselExampleCaptions" class="carousel slide carusel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/tesla_model_x1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Tesla model X</h5>
            <p>Black color performance</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/Tesla_model_x2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Tesla model X</h5>
            <p>Black color performance</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/tesla%20_model_X.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="for-black-tesla">Tesla model X</h5>
            <p class="for-black-tesla">White color performance</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   <div class="for_modelX">
       <h3 class="for_top_of_title">About new car</h3>
       <h4>Most important and best car in 21 th centreth</h4>
       <h4>2.1 to 100/h</h4>
       <h4> 300 km/1h </h4>
       <h4>big salon</h4>
       <h4>comfortable place for your family</h4>
   </div>
<div class="for_model_salon">
    <img class="for_model_img" src="/static/img/tesla-model-x-first-drive.webp">
</div>
<footer class="tesla_footer">
  <div class="">
   <div class="tesla_img1"></div>
    <h3 class="to_footer">&copy; Ibrahim Nurudinovich</h3>
  </div>
</footer>
</body>
</html>
<script src="/static/js/my_java.js" defer></script>