.salon{
  display: flex;
  width: 800px;
  height: 600px;
  margin-top: 90px;
  margin-right: 90px;
  float: right;
}

.for-p2{
  animation: fadeout 8s;
  }
@keyframes fadeout {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.for_footer2{
  animation: fadeout 5s;
}
@keyframes fadeout {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--Header_color);
  color: var(--Header_text);
  display: flex;
  box-shadow: 5px 5px 10px ;
}
.icon {
  width: 60px;
  margin: 5px;
  height: 60px;
  background-size: contain;
  background-image: var(--Header_img);
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border: 0;
}
.for_header{
  display: flex;
  color: var(--Header_text);
  margin-top: 10px;
  margin-left: 100px;
}
body{
  width: 100%;
  height: 2800px;
  background-color: var(--background_color);
}
.carusel{
  margin: 70px;
  display: flex;
}
.for-black-tesla{
  color: black;
}
.container{
  background-image: url("/static/img/tesla-inside.jpg");
  display: flex;
  float: left;
  height: 500px;
  width: 750px;
  margin-top: 70px;
  margin-left: 90px;
  background-size: contain;
}
.text_about{
  color: var(--Text_to_story);
  margin-top: 160px;
  margin-right: 600px;
  height: 400px;
  width: 350px;
  flex-direction: column;
  display: flex;
  float: right;
}
.to-p{
  text-align: center;
  font-size: 24px;
}
#to-p2{
  font-size: 26px;
  color: #dc3545;
}
.text_about_salon{
  color: var(--Text_to_salon);
  margin-top: 90px;
  margin-left: 480px;
  height: 400px;
  width: 300px;
  float: left;
  flex-direction: column;
  display: flex;
}
#to-p3{
  color: #dc3545;
  font-size: 26px;
}
.tesla_footer{
  display: flex;
  height: 420px;
  width: 100%;
  background-color: var(--Footer_color);
  box-shadow: 5px 5px 10px ;
}
.to_footer {
  color: var(--Footer_text);
  margin-left: 10px;
  margin-top: var(--to_footerTXT);
  display: flex;
  float: bottom;
}
.tesla_img1{
  background-image: var(--Footer_img);
  height: var(--Footer_hight);
  width: var(--Footer_width);
  background-size: contain;
  display: flex;
  margin-top: 30px;
  background-color: transparent;
}
.t_video{
  margin: 100px;
  width: 1000px;
  height: 700px;
}

:root{
  --background_color: #23272b;
  --Header_color: black;
  --Header_text: white;
  --Text_to_story: white;
  --Text_to_salon: white;
  --Header_img: url('/static/img/tesal_icon.png');
  --Footer_img: url("/static/img/to_footer1.jfif");
  --Footer_hight: 280px;
  --Footer_width: 380px;
  --Footer_color: black;
  --Footer_text: white;
  --to_footerTXT: 50px;
}
:root[data-theme='light']{
  --background_color: whitesmoke;
  --Header_color: silver;
  --Header_text: red;
  --Text_to_story: black;
  --Text_to_salon: black;
  --Header_img: url('/static/img/tesla-logo2.png');
  --Footer_img: url("/static/img/to_footer21.png");
  --Footer_hight: 200px;
  --Footer_width: 390px;
  --Footer_color: silver;
  --Footer_text: black;
  --to_footerTXT: 120px;
}

.for_login{
  display: flex;
  color: white;
  margin-left: 90%;
  position: absolute;
  background: black;
  border: 0;
}
.for_button{
  background: black;
  border: 0;
  color: white;
  margin: 10px;
}